<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="post">Create</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="get">Retrieve</a>
  </li>
  <li class="nav-item">
    <span class="badge bg-success">
      FE v{{this.feVersion}} - {{this.feCommitId.slice(0,6)}}
    </span>
  </li>
  <li class="nav-item">
    <span class="badge bg-warning" *ngIf="beVersion">
      BE v{{this.beVersion.version}} - {{this.beVersion.commit.slice(0, 6)}}
    </span>
  </li>
</ul>
<router-outlet></router-outlet>

