<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-12">
        <input type='number' [ngModel]="id | async" (keydown.enter)="handleEnter($event)" (ngModelChange)="id.next($event)"/>
        <button (appPaste)="paste($event)">Paste</button>
        <button [appCp]="id.getValue()">Copy</button>
      </div>
      <div class="col-12">
        <label id="msg">Message</label>
      </div>
      <div class="col-12">
        <div class="col-9">
          <textarea aria-label="msg" rows="5" cols="40" *ngIf="value" disabled >{{value|passwordFilter: show}}</textarea>
        </div>
        <div class="col-3" *ngIf="value">
          <button [appCp]="value" (copied)="this.copied($event)">copy</button>

          <button *ngIf="show" (click)="toggleVisible()">Show</button>
          <button *ngIf="!show" (click)="toggleVisible()">Hide</button>
          {{cbMsg}}
        </div>
      </div>

      <div class="col-12">
        <button (click)="submit()">Retrieve</button>
      </div>
    </div>
  </div>
</div>

